.main-a{
    height: 300vh;
    width: auto;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./img/roca.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    .biografia{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 90px;
        .bleft{
            height: auto;
            width: 50%;
            background-image: url(./img/potenza.jpg);
            background-position: center;
            background-size: cover;
        }
        .bright{
            height: auto;
            width: 50%;
            background-color: rgba(0, 0, 0, 0.685);
            h3{
                padding: 30px 0px;
                text-align: center;
                color: $color6;
                font-family: 'Petit Formal Script';
                font-size: 45px;
            }
            p{
                padding: 35px;
                font-size: 20px;
                text-shadow: 0 0 2px;
                color: $color6;
                font-family: Helvetica, sans-serif;
            }
            p:hover{
                color: $color4;
            }
            a{
                background-color: #000;
                padding: 10px 20px;
                color: rgb(255, 255, 255);
                text-decoration: none;
                text-transform: capitalize;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
            a:hover{
                background-color: #333;
                border: 2px solid white;
            }
        }
        .dleft{
            background-image: url(./img/roca\ 2.jpg);
            background-size: cover;
            background-position: center;
        }
        .rleft{
            background-image: url(./img/river\ 2.jpg);
            background-size: cover;
            background-position: top;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 520px){
    .main-a{
        height: auto;
        .biografia{
            flex-direction: column;
            height: 1000px;
            padding: 5% 0%;
            .bleft{
                width: 100%;
                height: 400px;
            }
            .bright{
                width: 100%;
                height: 600px;
                h3{
                    padding: 15px 0px;
                    font-size: 40px;
                }
                p{
                    padding: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 520px) and (max-width: 1080px){
    .main-a{
        height: auto;
        .biografia{
            height: 720px;
            .bright{
                h3{
                    padding: 15px 0px;
                    font-size: 40px;
                }
                p{
                    padding: 20px;
                }
            }
        }
    }
}
