.main-e{
    height: 650vh;
    
    h2{
        float: right;
        font-size: 50px;
        font-family: $font5;
        color: $color6;
        padding: 30px 30px 10px 10px;
        background-color: rgba(0, 0, 0, 0.685);
    }
}